<!DOCTYPE html>
<html>
  <head>
    <title>Final Assessment - Second Hand Sales Platform</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <script src="https://js.braintreegateway.com/js/braintree-2.30.0.min.js"></script>

  </head>

  <body class='container'>
    <div id='home_nav'>
      <%= link_to 'Home', root_path %>
    </div>
    <div id="user_nav">
      <% if current_user %>
        Logged in as <%= current_user.email %>. 
        <%= link_to "Log out", log_out_path %> ... 
        <% if current_user.type.nil? %>
          <%= link_to 'Upgrade to ProUser!', upgrade_path %>
        <% end %>
      <% else %>
        <%= link_to "Sign up", sign_up_path %> or
        <%= link_to "Log In", log_in_path %>
      <% end %>
    </div>

    <div id='nav'>
      <%= link_to 'Browse Ads', ads_path %>
      <% if current_user %>
        or
        <%= link_to 'Post Ads!', new_ad_path %>
      <% end %>
    </div>

    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>

    <%= yield %>
    
  </body>
</html>
